<%= turbo_stream_from @chat %>

<div class="chat-show">
  <div class="chat-show__nav">
    <%= link_to chats_path, class: "chat-show__back-link" do %>
      <i class="fas fa-arrow-left me-2"></i>Back to chats
    <% end %>
  </div>

  <div id="messages" class="chat-show__messages">
    <% @chat.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <div class="chat-show__form">
    <%= simple_form_for [@chat, @message], data: { controller: "reset-form", action: "turbo:submit-end->reset-form#call" } do |f| %>
      <%= f.input :content, placeholder: "Busca en cualquier ciudad, por amenidades o cerca de ti...", required: true, label: false %>
      <%= f.button :submit, "Send", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
