<%= link_to "â† Back", chats_path, class: "px-3 mb-4 d-block" %>

<% @chat.messages.each do |message| %>
  <% if message.role == "user" %>
    <div class="d-flex justify-content-end mb-2">
      <div class="bg-white px-3 pb-0 pt-3 rounded-pill">
        <%= simple_format(message.content) %>
      </div>
    </div>
  <% elsif message.role == "assistant" %>
    <div class="d-flex justify-content-start mb-5">
      <div class="px-3 pb-0 pt-3">
        <%= raw(render_markdown(message.content)) %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="px-3 mt-4">
  <%= simple_form_for [@chat, @message], data: { controller: "reset-form", action: "turbo:submit-end->reset-form#call" } do |f| %>
    <%= f.input :content, placeholder: "Ask anything", required: true, label: false %>
    <%= f.button :submit, "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
